.contact {
    color: white;  
}
.contact > h2 {
    text-align: center;
}
.socials{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 10vw;
    margin: 50px 0;
}
.mailNumber {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 10vw;
    margin: 50px 0;
    flex-wrap: wrap;
}
.mailNumber > div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    width: 200px
}
.email {
    width: 30vw;
    min-width: 200px;
}