.introduction {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.intro-title > h1 {
    font-size: 7vw;
    margin: 0;
}
.intro-title > span {
    font-size: 2.5vw;
    margin: 0;
}
.roleContainer {
    display: flex;
    justify-content: center;
}
.role {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    animation: changeWidth 2s infinite; 
}

@keyframes changeWidth {
    0% {
        width: 0px;
    }
    50% {
        width: 50vw;
    }
    100% {
        width: 0px;
    }
}

