.projects {
    color: white;
}
.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px
}
.projects > h2 {
    text-align: center;
}
.project {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:#1e2024;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.project > p {
    margin: 0;
}
.project-name {
    font-size: 1.5rem;
    font-weight: bold;
}
.project-des {
    font-size: 1.2rem;
}
.project > span {
    height: 60px;
}
.techs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.demo {
    border-radius: 50%;
}
.links {
    display: flex;
    justify-content: space-around;
}
.links > img {
    cursor: pointer;
}