
.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px
}
.projects > h2 {
    text-align: center;
    font-size: 4rem;
    color: white;
}
.project {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: linear-gradient(145deg, #282a2f, #191c1f);
    padding: 30px 20px 20px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #464e55, 0 0 .4em #535a62;
    transition: all 0.3s;
}
.project:hover {
    background: linear-gradient(145deg, #191c1f,#282a2f);
    padding: 20px 20px 30px 20px;
}
.project > p {
    margin: 0;
}
.project-name {
    font-size: 1.7rem;
    font-weight: bold;
}
.project-des {
    font-size: 1.2rem;
    color: #878e99;
}
.project > span {
    height: 60px;
}
.techs {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    color: #878e99;
}
.demo {
    border-radius: 50%;
}
.links {
    display: flex;
    justify-content: space-around;
}
.links > img {
    cursor: pointer;
}
.project > h3 {
    font-size: 1.4rem;
}

.project-name, .project > h3 {
    text-align: center;
    color: white;
}
@media screen and (max-width: 750px) {
    .projects > h2 {
        font-size: 2rem;
    }   
    .project {
        width: 70vw;
    }
}