.tech-logo {
    display: flex;
    height: 250px;
    align-items: center;
    background: linear-gradient(145deg, #282a2f, #191c1f);
    border-radius: 10px;
}
.technologies {
    color: white;
    text-align: center;
}
.technologies-container {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:10px
}
.technologies > h2 {
    text-align: center;
    font-size: 4rem;
    color: white;
}
.technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(145deg, #282a2f, #191c1f);
    margin: 10px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #464e55, 0 0 .4em #535a62;
}
.technology:hover{
    background: linear-gradient(145deg, #191c1f,#282a2f);
}
.technology:hover .tech-logo {
    background: linear-gradient(145deg, #191c1f,#282a2f);
}
@media screen and (max-width: 750px) {
    .technologies > h2 {
        font-size: 2rem;
    }   
    .technology {
        width: 70vw;
    }
}